/data/processed
/data/raw/bu
/data/raw/imgbu
/data/raw/logjez
/data/raw/rdv
/data/raw/vscmr
/.ipynb_checkpoints/
/data/raw/dataset2018.zip
/data/raw/perfil_eleitor_secao_2022_SE.csv
/data/raw/perfil_eleitor_secao_2018_SE.csv
municipio_tse_ibge.zip
